# Зависимости
node_modules/

# Логи и кэш
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/
.eslintcache

# Тесты (Jest)
coverage/

# Системные файлы macOS и Windows
.DS_Store
Thumbs.db

# Конфигурации IDE (VS Code, WebStorm)
.vscode/
.idea/

# Секретные ключи (если когда-то решите добавить .env)
.env
.env.local